<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/all.css" />
    <link rel="shortcut icon" href="/images/fabicon.jpg">
    <title>HRM</title>
</head>
<body>
<div id="wrapper">
    <div id="header"><strong><a href="/home"><h1>Human Resource Menagement Portal</h1></a></strong>
        <%- include('menu') %>
    </div>
    <div id="main">
        <div class="box">
            <div class="holder">
                <div class="frame">
                    <h1>Add Performance Appraisal</h1>
                    <% if (saved == 1) { %><span style="color:#0000FF;">Appraisal saved successfully!</span><br/><% } %>

                    <form method="post" action="/savePerformance" class="contact-form" style="margin-bottom:20px;">
                        <div class="row">
                            <label for="empId">Employee:</label>
                            <div class="row">
                                <select name="empId" id="empId">
                                    <option value="">-- Select Employee --</option>
                                    <% for (var row in employees) { %>
                                    <option value="<%= employees[row]['id'] %>"><%= employees[row]['firstName'] %> <%= employees[row]['lastName'] %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label for="project_name">Project Name:</label>
                            <div class="text">
                                <input id="project_name" name="project_name" type="text" value="" />
                            </div>
                        </div>
                        <div class="row">
                            <label for="project_begin">Start Date:</label>
                            <div class="text">
                                <input id="project_begin" name="project_begin" type="text" placeholder="YYYY-MM-DD" value="" />
                            </div>
                        </div>
                        <div class="row">
                            <label for="project_end">End Date:</label>
                            <div class="text">
                                <input id="project_end" name="project_end" type="text" placeholder="YYYY-MM-DD" value="" />
                            </div>
                        </div>
                        <div class="row">
                            <label for="rating">Rating (1-5):</label>
                            <div class="row">
                                <select name="rating" id="rating">
                                    <option value="1">1 - Poor</option>
                                    <option value="2">2 - Below Average</option>
                                    <option value="3" selected>3 - Average</option>
                                    <option value="4">4 - Good</option>
                                    <option value="5">5 - Excellent</option>
                                </select>
                            </div>
                        </div>
                        <input class="btn-submit editsubmit" type="submit" value="Save Appraisal" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>