<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/all.css" />
    <link rel="shortcut icon" href="/images/fabicon.jpg">
    <title>HRM</title>
</head>
<body>
<div id="wrapper">
    <div id="header"><strong><a href="/home"><h1>Human Resource Menagement Portal</h1></a></strong>
        <%- include('menu') %>
    </div>
    <div id="main">
        <div class="box">
            <div class="holder">
                <div class="frame">
                    <div class="innerpage">
                        <div class="innerpage-form">
                            <h1>Change Password</h1>
                            <% if (success == 1) { %><span style="color:#0000FF;">Password changed successfully!</span><br/><% } %>
                            <% if (error) { %><span style="color:red;"><%= error %></span><br/><% } %>

                            <form method="post" action="/savePassword" class="contact-form">
                                <div class="row">
                                    <label for="currentPassword">Current Password:</label>
                                    <div class="text">
                                        <input id="currentPassword" name="currentPassword" type="password" value="" />
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="newPassword">New Password:</label>
                                    <div class="text">
                                        <input id="newPassword" name="newPassword" type="password" value="" />
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="confirmPassword">Confirm New Password:</label>
                                    <div class="text">
                                        <input id="confirmPassword" name="confirmPassword" type="password" value="" />
                                    </div>
                                </div>
                                <input class="btn-submit editsubmit" type="submit" value="Change Password" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>